# CircuitPython Project Bundle Manifest
#
# This config file use INI file syntax. In most cases, you will need to
# customize some of the settings below to match your project.
#

# First Project Config Task: Update library bundle links.
#
# 1. Open https://github.com/adafruit/Adafruit_CircuitPython_Bundle/releases
# 2. Find the latest release, then scroll down to its "Assets" section
# 3. Right click on the adafruit-circuitpython-bundle-9.x-mpy zip file to copy
#    its link address, then paste that link below on the "9.x" line, replacing
#    the old link
#
# The bundle builder will use the 9.x mpy zip file link to download the
# CircuitPython library bundle. Once the libraries are downloaded and unpacked,
# the bundle builder will use them to obtain the library mpy files to put in
# your project bundle zip file.
#
[library_bundle]
9.x: https://github.com/adafruit/Adafruit_CircuitPython_Bundle/releases/download/20240730/adafruit-circuitpython-bundle-9.x-mpy-20240730.zip


# Second Project Config Task: List the libraries you want copied from the
# library bundles into the lib/ directory of your project bundle.
#
# Just list the plain library names, one name per line. You don't need to
# specify versions because they will be pinned to whatever versions are inside
# the the 8.x and 9.x mpy library bundles zip files.
#
# If your project doesn't need any libraries, you can leave this list blank.
# But, keep the "[lib]" section heading.
[lib]


# Third Project Config Task: List the code files and packages you want copied
# from the root directory of your code repository to the root directory of your
# project bundle. At minimum, this should have a "code.py" line.
#
[root]
boot.py
code.py


# Fourth Project Config Task: Enter your project's guide link URL to be
# included in the project bundle README file.
#
[meta]
guide_link: https://adafruit-playground.com/u/SamBlenny/pages/usb-host-gamepad-decoder
